
  .banner__container {
    background-image: linear-gradient(
        rgba(35, 71, 103, 0.5),
        rgba(35, 71, 103, 0.5)
      ),
      url("imges/bg-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .banner__container .section__container {
    padding: 10rem 1rem;
    display: flex;
    justify-content: center;
    align-self: left;
    
  }
  
  .banner__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    color: var(--extra-light);
  }
  
  .banner__content h2 {
    font-size: 2rem;
    font-weight: 400;
    align-self: flex-start;
  }
  .banner__content p{
    align-self: flex-start;
    text-align: left;
  }
  
  .banner__content button {
    padding: 0.5rem 2rem;
    outline: none;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;
    align-self: flex-start;

  }
  
  .display__container {
    background-color: var(--secondary-color);
  }
  
  .display__container :is(.section__title, .section__subtitle) {
    color: var(--text-dark);
  }
  
  .display__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  
  .display__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--secondary-color);
    text-align: center;
  }
  
  .display__card i {
    font-size: 2rem;
    color: var(--primary-color);
  }
  
  .display__card h4 {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
    color: var(--text-dark);
  }
  
  .display__card p {
    font-size: 0.8rem;
    padding: 0 1rem;
    color: var(--text-dark);
  }
  
  .display__grid .grid-1 {
    grid-area: 1/1/3/3;
  }
  
  footer {
    background-color: var(--text-dark);
    color: var(--secondary-color);
  }
  
  footer .section__container {
    display: grid;
    gap: 1.5rem;
    text-align: center;
  }
  
  footer h4 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .social__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .social__icons i {
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  footer p {
    font-style: italic;
  }